/* Propongo palette di colori
1) #cdbeac - #7b7d6a - #4e554e - #352f28
2) #afc044 - #503c18 - #391d22 - #0e102d
*/

// 1
$coffee: #cdbeac;
$camouflage-green: #7b7d6a;
$ebony:  #4e554e;
$black-pepper: #352f28;
// 2
$acid-green: #afc044;
$espresso: #503c18;
$seal-brown: #391d22;
$blue-black: #0e102d;