@import '~bootstrap/scss/bootstrap';
@import 'generals/variables.scss';
@import 'partials/about.scss';
@import 'partials/contacts.scss';
// font Dungeon: quello nell'header
@import url('https://fonts.cdnfonts.com/css/dungeon'); // font-family: 'Dungeon', sans-serif;
// font Cinzel
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap'); // font-family: "Cinzel", serif;
// Old London
@import url('https://fonts.cdnfonts.com/css/old-london'); //font-family: 'Old London', sans-serif;

body {
    font-family: 'Old London', sans-serif;
    background: radial-gradient(circle, rgb(255,255,255,1) 40%, rgb(222,207,166,1) 90%);
}

header {
    font-family: 'Dungeon', sans-serif;
    color: $ebony;
}