#edit_page {
    font-family: 'Dungeon', sans-serif;
    background-image: url('/images/land\(2\).jpg');
    background-size: cover;
    padding: 110px 0;
    position: relative;

    label {
        letter-spacing: 3px;
        text-shadow:
            -1px -1px 10px #587667,
            1px -1px 10px #587667,
            -1px 1px 10px #587667,
            1px 1px 10px #587667;
    }

    .overlay-blur {
        position: absolute; // Assicurati che l'elemento copra l'area desiderata
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 15%;
        // transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0); // Leggera trasparenza per un colore di sfondo
        backdrop-filter: blur(5px); // Applica un effetto di sfocatura
        -webkit-backdrop-filter: blur(5px); // Compatibilità per browser WebKit
        border-radius: 25px;
        z-index: 1; // Assicurati che l'overlay stia sopra l'immagine di sfondo ma sotto il contenuto
    }

    input,
    textarea {
        border: 2px solid $seal-brown;
    }

    input[type='number'] {
        font-size: 1.5rem;
        padding: 0;
        text-align: center;
    }

    input[type='text'] {
        font-size: 1.5rem;
        text-align: center;
    }

    textarea {
        font-size: 1.5rem;
    }

    .fit_content {
        width: fit-content;
        background-color: rgb(255, 241, 178);
    }

    .letter_spacing {
        letter-spacing: 1px;
    }

    button {
        background-color: $seal-brown;
        border: 1px solid $seal-brown;
        color: $coffee;
        transition: all 0.3s;
        &:hover {
            background-color: #587667;
            border: 1px solid #587667;
        }
    }

    .back_button {
        background-color: $btns_hover;
        color: black;
    }
}