.index-page {
    font-family: 'Dungeon', sans-serif;
    padding: 30px;
    color: #8e7444;

    h1 {
        font-size: 4rem;
        text-align: center;
        color: $seal-brown;
        text-shadow: 1px 1px 2px #999886;
        border-bottom: 3px solid $seal-brown;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .list-group-item {
        background-color: #EEE3D4;
        border: 8px solid #5b4c32;
        border-radius: 12px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), inset 0 0 5px #766544;
        border-image: linear-gradient(to bottom, #8e7444, #5b4c32, #8e7444) 1;
        transition: all 0.5s;

        &:hover {
            background-color: #EEE3D4;
            transform: scale(1.02);
        }

        span {
            font-size: 30px;
            font-weight: bold;
        }

        form {
            padding-right: 0;
        }
    }

    .btn-personal {
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 10px 15px;
        color: #fff;
        border: none;
        font-size: 18px;
        transition: all 0.3s;

        i {
            color: #fff;
        }

        &:hover {
            i {
                color: $seal-brown;
            }
        }

        &.btn-create {
            background-color: #8e7444;
            font-size: 26px;

            &:hover {
                background-color: #c49743;
            }
        }

        &.btn-show {
            background-color: #8e7444;

            &:hover {
                background-color: #c49743;
            }
        }

        &.btn-edit {
            background-color: #8e7444;

            &:hover {
                background-color: #c49743;
            }
        }

        &.del-btn {
            background-color: #a66e53;
            padding: 5px 15px;
            border-radius: 0;

            &:hover {
                background-color: #d47c50;
            }
        }
    }
}

.bg-charachters,
.bg-items {
    background-size: 100%;
    background-repeat: repeat;
}

.bg-charachters {
    background-image: url('img/characters.jpg');
    background-position: 50% 25%;

}

.bg-items {
    background-image: url('img/items.jpg');
    background-position: 40% 25%;
}

.bg-panel {
    background-color: #edc57a9c;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .index-page {
        padding: 15px;

        h1 {
            font-size: 3rem;
        }

        .btn-personal {
            font-size: 14px;
            padding: 8px 12px;
        }

        .list-group-item {
            span {
                font-size: 25px;
            }
        }
    }
}



// .bg-panel::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-image: url(https://cdn.textures4photoshop.com/tex/thumbs/grunge-stained-old-paper-texture-130.jpg);
//     background-size: cover;
//     opacity: 0.55;
//     z-index: -1;
// }