.modal-content {
    background-color: $coffee;
    border-radius: 20px;
    min-width: 600px;
    .modal-header{
        border-bottom: 1px solid $seal-brown;
    }
    .modal-title, .modal-body {
        color: $seal-brown;
    }
    .modal-title {
        font-size: 40px;
    }
    .modal-body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    span {
        font-size: 18px;
        color: $ebony;
    }
    .modal-footer {
        border-top: none;
        #back-del, #confirm-del {
            padding: 8px 10px;
            color: $coffee;
            transition: all 0.5s;
        }
        #back-del {
            
            background-color: #5f3e45;
            border: 1px solid #5f3e45;
            
            
            &:hover {
                background-color: #634349ea;
                border: 1px solid #5f3e45;
            }
        }
        #confirm-del {
          
            background-color: $seal-brown;
            border: 1px solid $seal-brown;

   
            &:hover {
                background-color: #c4b463;
                border: 1px solid #c4b463;
                color: $seal-brown;
            }
        }
        #back-del, #confirm-del {
            font-size: 20px;
        }
    }
}