@import '~bootstrap/scss/bootstrap';

.show-page {
    font-family: 'Dungeon', sans-serif;
    padding: 30px;
    color: #8e7444;

    .show-box {
        max-width: 300px;
        max-height: 300px;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            padding-bottom: 20px;
        }
    }

    span {
        font-size: 18px
    }

    h1 {
        font-size: 4.5rem;
        text-align: center;
        color: #141312;
        text-shadow: 1px 1px 2px #cfcfc8;
        margin-bottom: 20px;
    }

    .pg_type_text {
        font-size: 2.8rem;
        color: #0a0906;
        text-shadow: 1px 1px 2px #cfcfc8;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 3.2rem;
        color: #0a0906;
        text-shadow: 1px 1px 2px #cfcfc8;
        margin-bottom: 10px;
    }

    p {
        font-size: 3.2rem;
        text-align: center;
        color: #000000;
        margin-bottom: 20px;
        text-shadow: 1px 1px 2px #cfcfc8;
    }

    .type-description {
        max-width: 500px;
    }

    .stats {
        text-align: center;
    }

    img {
        border: 5px solid #beb655;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
    }

    .btn {
        font-family: 'Dungeon', sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 10px 15px;
        background-color: #999886;
        color: white;
        border: none;
        margin: 0 5px;
        transition: background-color 0.3s;

        &:hover {
            background-color: #f1851e;
        }

        &.btn-warning {
            background-color: #8e7444;

            &:hover {
                background-color: #c49743;
            }
        }

        &.delete-button {
            background-color: #a66e53;

            &:hover {
                background-color: #d47c50;
            }
        }
    }

    .back_button {
        background-color: $btns_hover;
        color: black;

        &:hover {
            background-color: $camouflage-green;
        }
    }
}

.bg-show-charachters {
    background-image: url('/img/show3.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: repeat;
}

.bg-show-items {
    background-image: url('/img/show4.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: repeat;
}

@media screen and (max-width: 390px) {
    .show-page {
        .btn-warning {
            margin-bottom: 20px;
        }
    }
}

.d250x {
    width: 250px;
    height: 250px;
}