main {
    .img-box {
        max-width: 200px;
        max-height: 400px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: sepia(60%);
        }
    }

    .info-box {
        max-width: 600px;
        p {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 767px) {
    .admins {
        flex-direction: column;
        .img-box {
            img {
                padding-bottom: 20px;
            }
        }

        .info-box {
            p {
                font-size: 20px;
            }
        }
    }
}